#Sun Jun 10 19:15:01 EAT 2012
AUTH_CODE=4/vMcotP9-epgsk0diLi7c2sSkyd7u.wnXXuhBob_obgrKXntQAax1oZl6ubwI 
PORT=65500
CLIENT_SECRET=GxuW8kypMYIc5pYUKTuLHM5W
ACCESS_TOKEN=ya29.AHES6ZQVFHiYaP4-JwemDxr3gpbL4roRFiwnI2OFyMsB5P0
CLIENT_ID=161984073788.apps.googleusercontent.com
APP_NAME=ASRemind
REDIRECT_URI=http\://localhost\:65500
REFRESH_TOKEN=1/AnVLYeKVMbNXiJLlsBJt85DwPQmVyTc4Ad0vt8ZAYHs
API_KEY=AIzaSyDsnT8j9G9kcH9XcxGdvn6zJ-_bsnOSAZ8
REPAINT_PERIOD=1
