#Fri Aug 31 21:48:37 EAT 2012
AUTH_CODE=4/q3a3lAqe9_61OCxYYfkJ5RTRE9O1.ks4EiDDJw5wcOl05ti8ZT3arcQr8cgI 
PORT=65500
REPAINT_PERIOD=1
CLIENT_SECRET=GxuW8kypMYIc5pYUKTuLHM5W
ACCESS_TOKEN=ya29.AHES6ZQTAvPU6kJuEHkuiL39H8ZatUbcSroNKIC8vfW86Dc
CLIENT_ID=161984073788.apps.googleusercontent.com
APP_NAME=ASRemind
REDIRECT_URI=http\://localhost\:65500
REFRESH_TOKEN=1/k7-keE2FTxKPUfJ1jA4saZjNBoU0xeg7exYTNBKCOoo
API_KEY=AIzaSyDsnT8j9G9kcH9XcxGdvn6zJ-_bsnOSAZ8
