#Fri Aug 31 21:48:37 EAT 2012
AUTH_CODE=
PORT=65500
REPAINT_PERIOD=1
CLIENT_SECRET=GxuW8kypMYIc5pYUKTuLHM5W
ACCESS_TOKEN=
CLIENT_ID=161984073788.apps.googleusercontent.com
APP_NAME=ASRemind
REDIRECT_URI=http\://localhost\:65500
REFRESH_TOKEN=
API_KEY=AIzaSyDsnT8j9G9kcH9XcxGdvn6zJ-_bsnOSAZ8
